.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
node_modules/**
tsconfig.json
**/*.map
**/*.ts
.github/**
.git/**
.eslintrc.json
.eslintignore
.editorconfig
.prettierrc
.prettierignore
webpack.config.js
*.vsix
vsc-extension-quickstart.md
install.sh
install.bat 